/* .App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.service-section {
  margin-top: 50px;
}

.service {
  margin-bottom: 20px;
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service ul {
  list-style-type: none;
  padding-left: 0;
}

.service ul li {
  margin-bottom: 5px;
}

.service ul li::before {
  content: "\2022"; 
  color: #007bff; 
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.top-section {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet-list-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: black 1px solid;
  margin: 5px;
  flex-grow: 1;
}

.title-span {
  font-size: 1.2em;
  margin-bottom: 10px;
}

 */

/* App.css */
/* App.css */
.App {
  text-align: center;
  background-color: white; /* Background color */
  color: #fff; /* Text color */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.service-section {
  margin-top: 50px;
}

.service {
  margin-bottom: 20px;
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #3c4d6c; /* Service title color */
}

.service ul {
  list-style-type: none;
  padding-left: 0;
}

.service ul li {
  margin-bottom: 5px;
}

.service ul li::before {
  content: "\2022";
  color: #3c4d6c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.top-section {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68599b; /* Background color for top section */
  color: #fff; /* Text color for top section */
  text-align: center;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Shadow */
  font-size: 1.5em;
}

.bullet-list-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #3c4d6c; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin: 5px;
  flex-grow: 1;
  background-color: #fff; /* Background color for list items */
  color: #565d9b; /* Text color for list items */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

.title-span {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.part {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

.text-body {
  font-size: smaller;
}